<div class="container">
  <div class="row">
    <div class="col-3">

<form (ngSubmit)="AddArtiste()">
  <div class="form-group formArtiste">
    <input type="string" class="form-control" name="artiste" id="ajoutArtiste" placeholder="Nouvel artiste" [(ngModel)]="a">
  </div>
  <button type="submit" class="btn btn-primary">Ajouter</button>
</form>
</div>
<div class="col-9">
    <div *ngFor="let artiste of artistes" class="card" style="width: 12rem;">
      <div class="card-body">
        <h5 class="card-title">{{artiste.name}}</h5>
      </div>
    </div>
  
  </div>
</div>
</div>